*{
    margin: 0;
    padding: 0;
}

h1{
    font-size: 30px;
    font-family: sans-serif;
}

nav{
    background-color: lightblue;
    width: 100nw;
    display: flex; 
    padding: 15px;
    justify-content: space-between;
    align-items: center;
 }
a{
    text-decoration: none;
    margin: 10px;
    font-size:20px;
    color: black;


 }

 button {
    padding: 8px 15px;
    font-size: 18px;
    font-weight: bold;
    border-radius: 10px;
    background-color: antiquewhite;
    border: none;
    margin: 0 8px;
 }



